@use '../tools/functions';

.cmp-cluster {
  display: flex;
  gap: functions.fluid-size-fallback('base');
  gap: functions.fluid-size('base');
  flex-wrap: wrap;

  &--between {
    justify-content: space-between;
  }
}
