@use '../tools/functions';

.cmp-content-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: functions.fluid-size-fallback('kilo');
  gap: functions.fluid-size('kilo');
  padding-bottom: functions.fluid-size-fallback('kilo');
  padding-bottom: functions.fluid-size('kilo');

  @media (min-width: 50rem) {
    grid-template-columns: auto 1fr;
  }

  &__sidebar {
    display: none;

    @media (min-width: 50rem) {
      display: block;
    }
  }

  &__navigation {
    list-style: none;
    padding-left: 0;
    padding-right: 0;

    &--level-2 {
      padding-left: functions.fluid-size-fallback('base');
      padding-left: functions.fluid-size('base');
    }
  }
}
