@use '../tools/functions';

.cmp-stack {
  display: flex;
  flex-direction: column;
  gap: functions.fluid-size('base');

  &--deci {
    gap: functions.fluid-size('deci');
  }

  &--hecto {
    gap: functions.fluid-size('hecto');
  }
}
