---
title: Character Sheet
description: Find your character's stats, skills, upgrades, and inventory from here, and keep track of attributes that change as you play.
---

{% extends "layout.njk" %}

{% block content %}
  <div class="cmp-content-grid cmp-container">
    {% include "navigation.njk" %}
    <article id="character-sheet" class="cmp-stack"></article>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/character-sheet.js" type="module"></script>
  <script src="/character-sheet.legacy.js" nomodule></script>
{% endblock %}
