---
title: Create Character
description: Build a new character from the ground up. Make a few choices that will establish the baseline for your character that will progress over time.
---

{% extends "layout.njk" %}

{% block content %}
  <div class="cmp-content-grid cmp-container">
    {% include "navigation.njk" %}
    <article class="cmp-stack">
      <h1>
        Create Character
      </h1>

      <form class="cmp-stack cmp-stack--hecto" data-create-character>
        <div>
          <label for="character-name">
            Character Name
          </label>
          <input id="character-name" type="text" name="character-name" required>
        </div>

        <div>
          <label for="group-name">
            Group Name (Optional)
            <br>
            <small>
              You can use this to share your character sheet with other players or GMs
            </small>
          </label>
          <input id="group-name" type="text" name="group-name">
        </div>

        <div class="cmp-stack cmp-stack--deci">
          <p>
            Rank your primary stats from best to worst (1 being best)
          </p>
          <div id="primary-stat-ranking"></div>
        </div>

        <div class="cmp-stack cmp-stack--deci">
          <p>
            Rank your secondary stats from best to worst (1 being best)
          </p>
          <div id="secondary-stat-ranking"></div>
        </div>

        <fieldset class="cmp-stack cmp-stack--deci">
          <legend>
            Choose 3 things that your character is vulnerable to
          </legend>
          <div id="vulnerabilities"></div>
        </fieldset>

        <fieldset class="cmp-stack cmp-stack--deci">
          <legend>
            Choose 2 things that your character is resistant to
          </legend>
          <div id="resistances"></div>
        </fieldset>

        <fieldset class="cmp-stack cmp-stack--deci">
          <legend>
            Choose 1 thing that your character is immune to
          </legend>
          <div id="immunities"></div>
        </fieldset>

        <div>
          <button type="submit">
            Create Character
          </button>
        </div>
      </form>
    </article>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/create-character.js" type="module"></script>
{% endblock %}
