---
title: Create Character
description: Build a new character from the ground up. Make a few choices that will establish the baseline for your character that will progress over time.
---

{% extends "layout.njk" %}

{% block content %}
  <div class="cmp-content-grid cmp-container">
    {% include "navigation.njk" %}
    <article class="cmp-stack">
      <h1>
        Create Character
      </h1>

      <form class="cmp-stack cmp-stack--hecto">
        <div>
          <label for="character-name">
            Character Name
          </label>
          <input id="character-name" type="text" name="character-name" required>
        </div>

        <div class="cmp-stack cmp-stack--deci">
          <p>
            Rank your primary stats from best to worst (1 being best):
          </p>
          <div id="primary-stat-ranking"></div>
        </div>

        <div class="cmp-stack cmp-stack--deci">
          <p>
            Rank your secondary stats from best to worst (1 being best):
          </p>
          <div id="secondary-stat-ranking"></div>
        </div>
      </form>
    </article>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/create-character.js" type="module"></script>
{% endblock %}
