---
title: Create Character
description: Build a new character from the ground up. Make a few choices that will establish the baseline for your character that will progress over time.
---

{% extends "layout.njk" %}

{% block content %}
  <div class="cmp-content-grid cmp-container">
    {% include "navigation.njk" %}
    <article class="cmp-stack">
      <h1>
        Create Character
      </h1>
    </article>
  </div>
{% endblock %}

{% block scripts %}
  <script></script>
{% endblock %}
