<header>
  <nav class="cmp-container cmp-cluster cmp-cluster--between">
    <a href="/">Spacedoor!</a>
    <div class="cmp-cluster">
      <a href="/login">Log In</a>
      <a href="/account">Account</a>
      <button type="button" class="cmp-button-as-link cmp-menu-link" aria-controls="sidebar-nav" aria-expanded="false">
        <span class="util-visually-hidden" data-menu-text>Open</span>
        Menu
      </button>
    </div>
  </nav>
</header>
