<header>
  <nav class="cmp-container cmp-cluster cmp-cluster--between">
    <a href="/">Spacedoor!</a>
    <div class="cmp-cluster">
      <a href="/login">Log In</a>
      <a href="/account">Account</a>
    </div>
  </nav>
</header>
