<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }} | Spacedoor!</title>
    <meta name="description" content="{{ description }}">

    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">

    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="maskable_icon.png">
    <meta name="theme-color" content="#202020">
  </head>
  <body data-auth-state="logged-out">
    {% block header %}
      {% include "header.njk" %}
    {% endblock %}
    <main>
      {% block content %}
        <div class="cmp-content-grid cmp-container">
          {% include "navigation.njk" %}
          <article class="cmp-stack">
            {{ content | safe }}
          </article>
        </div>
      {% endblock %}
    </main>
    <script src="/sitewide.js" type="module"></script>
    <script src="/sitewide.legacy.js" nomodule></script>
    {% block scripts %}{% endblock %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
