<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>">

    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="maskable_icon.png">
    <meta name="theme-color" content="#202020">
  </head>
  <body>
    {% block header %}
      <header>
        <div class="cmp-container">
          <p>This is the header.</p>
        </div>
      </header>
    {% endblock %}
    <main>
      {% block content %}
        <article class="cmp-container">
          {{ content | safe }}
        </article>
      {% endblock %}
    </main>
    {% block footer %}
      <footer>
        <div class="cmp-container">
          <p>This is the footer.</p>
        </div>
      </footer>
    {% endblock %}
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
