<aside id="sidebar-nav" class="cmp-content-grid__sidebar">
  <nav>
    <ul class="cmp-content-grid__navigation">
      <li>
        <a href="/playing-the-game">
          Playing the Game
        </a>
      </li>
      <li>
        <a href="/character-creation">
          Character Creation
        </a>
      </li>
      <li>
        <a href="/character-progression">
          Character Progression
        </a>
      </li>
      <li>
        <a href="/stats-and-skills">
          Stats and Skills
        </a>
      </li>
      <li>
        <a href="/action-points">
          Action Points
        </a>
      </li>
      <li>
        <a href="/status-effects">
          Status Effects
        </a>
      </li>
      <li>
        <a href="/damage-types">
          Damage Types
        </a>
      </li>
      <li>
        <a href="/gm-tips-and-tricks">
          GM Tips and Tricks
        </a>
      </li>
      <li>
        <a href="/upgrades">
          Upgrades
        </a>
        <ul class="cmp-content-grid__navigation cmp-content-grid__navigation--level-2">
          <li>
            <a href="/upgrades/stats">
              Stats
            </a>
          </li>
          <li>
            <a href="/upgrades/skills">
              Skills
            </a>
          </li>
          <li>
            <a href="/upgrades/health">
              Health & AP
            </a>
          </li>
          <li>
            <a href="/upgrades/offense">
              Offense
            </a>
          </li>
          <li>
            <a href="/upgrades/defense">
              Defense
            </a>
          </li>
          <li>
            <a href="/upgrades/actions">
              Actions
            </a>
          </li>
          <li>
            <a href="/upgrades/bonus-actions">
              Bonus Actions
            </a>
          </li>
          <li>
            <a href="/upgrades/reactions">
              Reactions
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
