@use '../tools/functions';

dd {
  font-size: functions.fluid-size-fallback('base');
  font-size: functions.fluid-size('base');
  margin-block-start: functions.fluid-size-fallback('milli');
  margin-block-start: functions.fluid-size('milli');
}
