@use '../tools/functions';

dd {
  font-size: functions.fluid-size-fallback('base');
  font-size: functions.fluid-size('base');
  margin-top: functions.fluid-size-fallback('milli');
  margin-top: functions.fluid-size('milli');
}
