@use '../tools/functions';

footer {
  padding-top: functions.fluid-size-fallback('base');
  padding-top: functions.fluid-size('base');
  padding-bottom: functions.fluid-size-fallback('base');
  padding-bottom: functions.fluid-size('base');
}
