@use '../tools/functions';

h3 {
  font-size: functions.fluid-size-fallback('hecto');
  font-size: functions.fluid-size('hecto');
  font-family: functions.font-family('sans');
  line-height: calc(1em + 0.5rem);
  margin-top: 0.65em;
}
