@use '../tools/functions';

h4 {
  font-size: functions.fluid-size-fallback('deca');
  font-size: functions.fluid-size('deca');
  font-family: functions.font-family('sans');
  line-height: calc(1em + 0.5rem);
  margin-top: 0.65em;
}
