@use '../tools/functions';

label {
  display: block;
  max-width: max-content;
  font-size: functions.fluid-size-fallback('base');
  font-size: functions.fluid-size('base');
  margin-bottom: 0.25em;
}
