@use '../tools/functions';

legend {
  display: block;
  max-width: max-content;
  margin-bottom: 0.5em;
  font-weight: 400;
  font-size: functions.fluid-size-fallback('base');
  font-size: functions.fluid-size('base');
}
