@use '../tools/functions';

summary {
  font-size: functions.fluid-size-fallback('hecto');
  font-size: functions.fluid-size('hecto');
  font-family: functions.font-family('sans');
  font-weight: 700;
  line-height: calc(1em + 0.5rem);
  margin-block-start: 0.65em;
  cursor: pointer;

  &.summary-deca {
    font-size: functions.fluid-size-fallback('deca');
    font-size: functions.fluid-size('deca');
  }
}
